####################################
# Compiled files
####################################
/build
/dist

####################################
# Project files
####################################
/nbproject
.dep.inc

####################################
# Temporary files
####################################
*~